*.class
j-wildfire.jar
j-wildfire-launcher.jar
j-wildfire.zip
history.txt
trash
*l2fprod*
*toedter*
*flagstone*
lib/*
*.prefs
gitlog.sh
.classpath
bin/*
build/dist/*
tptpParseError.log
src/odk/*
build/j-wildfire/*
JWildfireC/.settings
JWildfireC/Debug
JWildfireC/Release
*.pdf