*.class
j-wildfire.jar
j-wildfire-launcher.jar
j-wildfire-applet.jar
j-wildfire.zip
history.txt
trash
applet
*l2fprod*
*toedter*
*flagstone*
*.prefs
gitlog.sh
.classpath
bin/*
build/dist/*
build/installer/*
tptpParseError.log
src/odk/*
build/j-wildfire/*
build/JWildfireC/*
JWildfireC/.settings
JWildfireC/Debug
JWildfireC/Release
JWildfireC/Release64Bit
*.pdf
JWildfireC/gmon.out
JWildfireC/*.txt
JWildfireC/*.bat
JWildfireC/*.flame
JWildfireC/src/jwf_FastMath.cpp
Delphi/
Delphi/old/
Delphi/new/
Delphi/JWildfire.cfg
Delphi/JWildfire.dof
Delphi/JWildfire.dsk
Delphi/JWildfire.exe
build/JWildfire.exe
src/org/jocl/samples
src/org/sunflow
FasterMath*
MathTest*
plugin_log.txt
C/*
src/org/jwildfire/create/tina/variation/converter/*
Sample.java
plugins32/*
plugins64/*
jres/*

SizeofUtil.java

lib/colt*
lib/jcodec*
lib/jep*
lib/jl*
lib/JOCL*
lib/JTatt*
lib/jtrans*
lib/sunflow*old*
lib/svg*

src/demos/*

*deepdream*

JWildfire.sh
build_new.xml
localsrc

FACLRender/*.obj
FACLRender/*.dll
FACLRender/*.exe
FACLRender/*.res
FACLRender/*.pdb
FACLRender/FA*

/bin/
/build/
TODO.txt

.idea/*
out/*
JWildfire.iml